{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.app.about.title'|trans }}
{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-12 columns">
            <h1 class="headertitle text-center">
                {{ 'views.app.about.title'|trans }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="small-10 small-centered columns">
            <ul class="small-block-grid-1">
                <li class="homebox">
                    <h2 class="text-center">
                        {{ 'views.app.about.subheading1'|trans }}
                    </h2>

                    <p class="parahome nomargin">
                        {{ 'views.app.about.paragraph1-1'|trans|raw }}
                    </p>

                    <p class="nomargin">
                        <img class="" src="{{ asset('bundles/app/images/Cercle-de-Buren.png') }}" />
                    </p>

                    <p class="parahome nomargin">
                        {{ 'views.app.about.paragraph1-2'|trans|raw }}
                    </p>
                </li>
                <li class="homebox">
                    <h2 class="text-center">
                        {{ 'views.app.about.subheading2'|trans }}
                    </h2>

                    <p class="parahome nomargin">
                        {{ 'views.app.about.paragraph2-1'|trans|raw }}
                    </p>

                </li>
                <li class="homebox">
                    <h2 class="text-center">
                        {{ 'views.app.about.subheading3'|trans }}
                    </h2>

                    <p class="parahome nomargin">
                        {{ 'views.app.about.paragraph3'|trans|raw }}
                    </p>

                    <p>
                        <img class="" src="{{ asset('bundles/app/images/Equipe-Feel.png') }}" />
                    </p>

                </li>
                <li class="homebox">
                    <h2 class="text-center">
                        {{ 'views.app.about.subheading4'|trans }}
                    </h2>

                    <ul class="small-block-grid-2 medium-block-grid-4 text-center">
                        <li>
                            <a href="#"  target="_blank" title="Eclairage 3000">
                                <img class="" src="{{ asset('bundles/app/images/E3000.png') }}" />
                            </a>
                            <h3>{{ 'views.app.about.Delphine'|trans }}</h3>
                        </li>
                        <li>
                            <a href="#"  target="_blank" title="Prestocab France">
                                <img class="" src="{{ asset('bundles/app/images/Prestocab.png') }}" />
                            </a>
                        </li>
                        <li>
                            <a href="http://www.plastisem.fr" target="_blank" title="Plastisem">
                                <img class="" src="{{ asset('bundles/app/images/Plastisem.png') }}" />
                            </a>
                        </li>
                        <li>
                            <a href="http://moulageplastiquefrancais.com" title="MPF"  target="_blank">
                                <img class="" src="{{ asset('bundles/app/images/MPF.png') }}" />
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>

{% endblock page %}
