{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.app.galery.title'|trans }}
{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-12 columns">
            <h1 class="headertitle text-center">
                {{ 'views.app.galery.title'|trans }}
            </h1>
        </div>
    </div>


    <div class="row full-width">
        <div class="small-10 small-centered columns">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item">
                    <img class="itemhome image-galery" src="{{ asset('bundles/app/images/Hunocky-vert.png') }}"/>
                    <h2 class="text-center title-galery colordarkgrey">
                        Hunocky
                    </h2>
                </div>
                <div class="item">
                    <img class="itemhome image-galery" src="{{ asset('bundles/app/images/La-Defense-candelabre-4temps.png') }}"/>
                    <h2 class="text-center title-galery colordarkgrey">
                        La Défense - Candélabre 4 temps
                    </h2>
                </div>
                <div class="item">
                    <img class="itemhome image-galery" src="{{ asset('bundles/app/images/MAJE-Caisson.png') }}"/>
                    <h2 class="text-center title-galery colordarkgrey">
                        MAJE - Caisson
                    </h2>
                </div>
				<div class="item">
                    <img class="itemhome image-galery" src="{{ asset('bundles/app/images/AIER-EASY.png') }}"/>
                    <h2 class="text-center title-galery colordarkgrey">
                        AIER-EASY
                    </h2>
				</div>
				<div class="item">
                    <img class="itemhome image-galery" src="{{ asset('bundles/app/images/Colonne-RGB.png') }}"/>
                    <h2 class="text-center title-galery colordarkgrey">
                        Colonne-RGB
                    </h2>
					</div>
				<div class="item">
                    <img class="itemhome image-galery" src="{{ asset('bundles/app/images/IR000071.png') }}"/>
                    <h2 class="text-center title-galery colordarkgrey">
                        IR000071
                    </h2>
					</div>
				<div class="item">
                    <img class="itemhome image-galery" src="{{ asset('bundles/app/images/Lustre-3PAR56.png') }}"/>
                    <h2 class="text-center title-galery colordarkgrey">
                        Lustre-3PAR56
                    </h2>
					</div>
				<div class="item">
                    <img class="itemhome image-galery" src="{{ asset('bundles/app/images/Oeuf.png') }}"/>
                    <h2 class="text-center title-galery colordarkgrey">
                        Oeuf
                    </h2>
					</div>
				<div class="item">
                    <img class="itemhome image-galery" src="{{ asset('bundles/app/images/Tequila-Tezon.png') }}"/>
                    <h2 class="text-center title-galery colordarkgrey">
                        Tequila-Tezon
                    </h2>
					</div>
            </div>
        </div>
    </div>

{% endblock page %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({

                autoPlay: 3000,
                itemsCustom: [
                    [0, 1],
                    [700, 2],
                    [1200, 3]
                ],
                'addClassActive': true,
                navigation: false
            });

            window.Carousel = $(".owl-carousel").data('owlCarousel');

        });

    </script>
{% endblock javascripts %}
